.wrapper
    display: flex
    flex-direction: column
    min-height: 100%


.header
    background: url(../img/background/water.jpg) center center no-repeat
    background-size: cover
    min-height: rem(600px)

.header_content
    display: flex
    flex-direction: column
    justify-content: center
    padding: 0 rem(85px)
    margin: auto
    text-align: center

.header_top    
    margin-top: rem(20px)   
    display: flex
    align-items: stretch
    justify-content: space-between

.header_middle
    margin-top: rem(90px)
    color: #ffffff
    position: relative
    z-index: 2
    &:after
        content: ''
        background: url(../img/background/portfolio_header.svg) center center no-repeat
        background-size: contain
        opacity: .2
        z-index: -1
        position: absolute
        top: 50%
        left: 50%
        width: 100%
        height: 100%
        transform: translate(-50%, -50%)

.header_image
    border-radius: 50%
    overflow: hidden
    width: rem(140px)
    height: rem(140px)
    margin: 0 auto
    .header_img
        width: 100%
        height: auto

.humburger_menu
    cursor: pointer
    
.humburger_middle
    display: inline-block
    height: rem(5px)
    width: rem(40px)
    background: #ffffff
    border-radius: rem(2px)
    position: relative
    &:after,&:before
        content: ''
        position: absolute
        height: rem(5px)
        width: rem(40px)
        background: #ffffff
        border-radius: rem(3px)
        transform-origin: center
        transition: .1s
        visibility: visible
    &:after
        top: 100%
        left: 0
        transform: translateY(150%)
    &:before
        bottom: 100%
        left: 0
        transform: translateY(-150%)

.humburger_menu:hover .humburger_middle
    visibility: hidden
    &:after
        top: 0
        transform: rotate(45deg)
    &:before
        transform: rotate(-45deg)
        bottom: 0

.header_title
    margin: rem(30px) 0 rem(10px) 0
    font-family: $robomed
    font-size: rem(35px)

.header_bottom
    margin-top: rem(137px)
    width: 100%

.arrow_bottom
    display: inline-block
    margin: auto
    width: rem(26px)
    height: rem(16px)
    background: url(../img/icons/portf_arrow_down.svg) center center no-repeat
    background-size: contain
    position: relative
    z-index: 5
    &:hover
        transform: translateY(20%)

.main_about
    width: 100%
    position: relative
    margin-top: rem(-178px)
    padding-top: rem(195px)
    padding-bottom: rem(40px)
    &:after
        width: 50%
        content: ''
        display: inline-block
        position: absolute
        top: 0
        left: 0
        height: 100%
        width: 50%
        background: url(../img/background/about_bg_left.svg) center center no-repeat
        background-size: cover
        z-index: 2
    &:before
        content: ''
        display: inline-block
        position: absolute
        top: 0
        left: 50%
        height: 100%
        width: 50%
        background: url(../img/background/about_bg_right.svg) center center no-repeat
        background-size: cover
        z-index: 2

          
.main_content
    max-width: rem(1800px)
    padding: 0 rem(85px)
    margin: auto
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    position: relative
    z-index: 5
    color: $font-grey

.about_content
    flex-basis: 50%
    box-sizing: border-box
    &-left
        display: flex
        flex-wrap: wrap
        justify-content: center
    &-right
        padding: 0 rem(40px)


//left-block    
.content_left
    text-align: center
    width: 50%
    box-sizing: border-box
    padding: rem(15px) rem(15px)

.about_logo
    margin: 0
    display: block
    font-family: $sansus
    font-size: rem(63px)
    font-weight: 300
    color: $dark-grey
    text-transform: uppercase
    position: relative
    padding: rem(30px) 0  
    &:before
        position: absolute
        content: ''
        width: 100%
        height: auto
        display: block        
        top: 0
        left: 0
        height: 100%
        background: url(../img/background/about_header.svg) center center no-repeat
        background-size: contain
        opacity: .5
        z-index: 4

    &:after
        position: absolute
        background: $dark-grey
        content: ''
        display: inline-block
        width: rem(90px)
        height: rem(3px)
        bottom: -10%
        left: 50%
        transform: translate(-50%, -50%)
    
.about_image
    width: 100%
    height: auto
    overflow: hidden

.about_img
    width: 100%
    height: auto

.about_title
    font-size: rem(35px)
    font-family: $sansus
    font-weight: 500
    position: relative
    text-transform: uppercase
    &:after
        content: ''
        position: absolute
        display: block
        width: rem(89px)
        height: rem(3px)
        background: $font-grey
        bottom: -95%
        left: 50%
        transform: translate(-50%, -50%)

.about_desc
    text-align: left 
    margin-top: rem(50px)

//right_block
.skills_logo
    margin: auto
    font-family: $sansus
    font-size: rem(35px)
    font-weight: 500
    text-transform: uppercase
    position: relative
    width: rem(300px)
    text-align: center
    &:after
        content: ''
        position: absolute
        display: block
        height: rem(3px)
        width: rem(89px)
        bottom: -43%
        left: 50%
        transform: translate(-50%,-50%)
        background: $font-grey

.skills_title
    font-size: rem(28px)
    margin-bottom: rem(20px)

.skills_list
    list-style: none
    margin: 0
    padding: 0
    display: flex
    flex-wrap: wrap

.skills_item
    margin-right: rem(40px)
    position: relative
    &:last-child
        margin-right: 0
    .circle_desc
        position: absolute
        text-align: center
        top: 47%
        left: 50%
        width: rem(70px)
        transform: translate(-50%,-50%)
        line-height: 1
        font-size: 14px
        color: $light-green

.skill_desc
    margin-top: rem(50px)
//skill-circles
.skill_circle
    fill: none
    stroke-width: 25

.skill_inner
    fill: none
    stroke: #dfdcd5
    stroke-width: 35

.skill_sector    
    stroke-width: 35
    stroke: $light-green
    stroke-dasharray: 628
    stroke-dashoffset: 314
    transition: all 1s
    transform-origin: center
    transform: rotate(-90deg)

//map

#map
    min-height: rem(1114px)
    
.main_map
    position: relative
    z-index: -1
//contacts
.contacts
    position: absolute
    top: 40%
    left: 50%
    transform: translate(-50%,-50%)
    width: rem(380px)
    background: rgba(255,255,255, .8)
    border-radius: rem(5px) 
    z-index: 999
    padding: rem(40px)
    box-sizing: border-box

.contacts_title
    margin-top: 0
    font-family: $sansus
    font-weight: 300
    font-size: rem(35px)
    text-transform: uppercase
    position: relative
    color: $font-grey
    text-align: center
    &:after
        content: ''
        display: block
        background: $font-grey
        width: rem(90px)
        height: rem(3px)
        position: absolute
        bottom: -100%
        left: 50%
        transform: translate(-50%, -50%)

.contacts_list
    list-style: none
    margin: 0 auto
    line-height: 3 

.contacts_item
    color: $contact-font
    position: relative
    &:after
        content: ''
        display: inline-block
        width: rem(25px)
        height: rem(25px)
        position: absolute
        top: 50%
        right: 100%
        transform: translate(-50%,-50%)
        background-position: center center
        background-size: contain
        background-repeat: no-repeat

$contacts: mail, phone, point, skype
@each $contact in $contacts
    .contacts_item-#{$contact}:after
        background-image: url(../img/icons/#{$contact}.svg)


//footer
.footer_about
    margin-top: -185px
    background: rgba(0,0,0,.7)

.footer_top
    max-width: rem(1800px)
    box-sizing: border-box
    margin: auto

.footer_list
    list-style: none
    margin: rem(30px) 0
    padding: 0
    display: flex
    justify-content: space-between
    align-items: top

.footer_item
    max-width: 33%
    border-left: 1px solid rgba(#fff, .5)
    padding-left: rem(30px)
    &:first-child
        border-left: none
        padding: 0

.page_list
    list-style: none
    margin: 0 0 rem(30px) 0
    padding: 0
    display: flex
    align-items: center

.page_item
    margin-right: rem(40px)
    &:last-child
        margin-right: 0
.page_link
    text-decoration: none
    color: #ffffff
    &:hover
        opacity: .5

.footer_item-desc>p
    margin: 0
    color: #ffffff
    font-family: sans-serif
    font-weight: 300

.footer_item-blockquote>p
    margin: 0
    color: rgba(#ccc, .5)
    font-family: sans-serif
    font-style: italic

.footer_author
    color: rgba(#fff, .7)

.footer_bottom
    text-align: center
    background: rgba($light-green, .8)
    color: #ffffff
    font-family: sans-serif
    font-weight: 300
