ul.footSocial_list
    li.footSocial_item
        a.footSocial_link.footSocial_link(href="https://vk.com/id97917569")
            include ../../img/icons/vk.svg
    li.footSocial_item
        a.footSocial_link.footSocial_link(href="https://github.com/TeterevArtem")
            include ../../img/icons/github.svg
    li.footSocial_item
        a.footSocial_link.footSocial_link(href="https://www.instagram.com/teterev.artem/?hl=ru")
            include ../../img/icons/in.svg
            