footer.footer_about
    .footer_top
        ul.footer_list
            li.footer_item.footer_item-desc
                p|Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            li.footer_item
                ul.page_list
                    li.page_item
                        a.page_link(href="works.html")|Мои работы
                    li.page_item
                        a.page_link(href="about.html")|Обо мне
                    li.page_item
                        a.page_link(href="blog.html")|Блог
                    li.page_item
                        a.page_link(href="index.html")|Авторизация
                include _footerSocials.pug
            li.footer_item.footer_item-blockquote
                p|Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
                span.footer_author - Martin Golding
    .footer_bottom
        span.footer_text|&copy; Тетерев Артём | Сделано с любовью | Loftschool