header.header
    .header_content
        .header_top
            include _socials.pug
            .humburger_menu
                span.humburger_middle
        .header_middle
            .header_image
                img.header_img(src='img/sexy-cat.jpg')
            h4.header_title Тетевев Артём
            span.header_desc Личный сайт разработчика
        .header_bottom
            a.arrow_bottom(href="#")