ul.social_list
    li.social_item
        a.social_link.social_link(href="https://vk.com/id97917569")
            include ../../img/icons/vk.svg

    li.social_item
        a.social_link.social_link(href="https://github.com/TeterevArtem")
            include ../../img/icons/github.svg
    li.social_item
        a.social_link.social_link(href="https://www.instagram.com/teterev.artem/?hl=ru")
            include ../../img/icons/in.svg
            